.cards {  
    mat-card + mat-card {
      margin-top: 20px;
    }
  }

.hover-todo {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: initial;
    &:hover {
        animation-name: todo;
    }
}

select {
    width: 100%;
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    &:required:invalid {
        color: #5A667F;
    }
}

.mat-card-content {
    max-height: calc(55vh - 50px);
    overflow-x: hidden;
}

@keyframes todo {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15);
    }
    60% {
        transform: translateY(-7px);
    }
}
